#No directory peeking in general
Options -Indexes

# Redirects for known old urls and linkbacks
Redirect 301 /archives/000024.html /2003/07/15/i-thought-nobody-did-that-anymore.html
Redirect 301 /2010/12/11/using-statusnet-to-simplify-some-social-network-problems.html /2011/02/23/using-statusnet-to-simplify-some-social-network-problems.html

# Tags and categories are now the same
RedirectMatch 301 /category/(.*) /tag/$1

# Always use mrblog.nl
RewriteEngine On
RewriteCond %{HTTP_HOST} .
RewriteCond %{HTTP_HOST} !^mrblog\.nl
RewriteRule (.*) http://mrblog.nl/$1 [R=301,L]