<!DOCTYPE html>
<html lang="en">

    <head>
        {% include head.inc %}
    </head>
    <body>
      <!-- Navigation bar -->
      {% include navbar.inc %}


      <div id="content">
        {{ content }}
      </div>

      <!-- Footer -->
      {% include footer.inc %}


      <!-- Make comment COUNTS available -->
      <script type="text/javascript">
        var disqus_shortname = 'mrblog2';
	(function () {
	  var s = document.createElement('script'); s.async = true;
	  s.type = 'text/javascript';
	  s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
	  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
      </script>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="{{site.url}}/assets/js/jquery.min.js"></script>
      <script src="{{site.url}}/assets/js/bootstrap.min.js"
    </body>
</html>
