<!DOCTYPE html>
<html lang="en">

    <head>
      $partial("_includes/head.inc")$
      $partial("_includes/opengraph.inc")$
    </head>
    <body>
      <!-- Navigation bar -->
      $partial("_includes/navbar.inc")$


      <div id="content">
        $body$
      </div>

      <!-- Footer -->
      $partial("_includes/footer.inc")$


      <!-- Make comment COUNTS available -->
      <!-- ideally this should only be included if we have comments -->
      <script type="text/javascript">
        var disqus_shortname = 'mrblog2';
	(function () {
	  var s = document.createElement('script'); s.async = true;
	  s.type = 'text/javascript';
	  s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
	  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
      </script>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/js/bootstrap.min.js"></script>
    </body>
</html>
