<!DOCTYPE html>
<html lang="en">

    <head>
      {% include head.inc %}
    </head>
    <body>
      <!-- Photoindex layout -->
      <!-- Navigation bar -->
      {% include navbar.inc search='disabled' %}


      <div id="content">
        {{ content }}
      </div>

      <!-- Footer -->
      {% include footer.inc %}


      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/js/bootstrap.min.js"
    </body>
</html>
