---
layout: default
---
<!-- Template for photo type posting -->
<div class="post">
  {% include calendar.inc date=page.date %}

  <div class="title">
    <h2><a href="{{ page.url }}">{{ page.title | xml_escape }}</a></h2>
    <div class="postdata">
      <!-- Tag list -->
      {% include object_tags.inc object=page %}

      <!-- Link to comments -->
      {% include commentlink.inc object=page %}

    </div>
  </div>
  <div class="clearing"><!-- close clearing --></div>
  <div class="entry">
    {{ content }}
  </div>

  <!-- Include navigation block for next/prev post -->
  {% include prevnextpost.inc %}

  <!-- Comments section -->
  {% include comments.inc %}
