---
layout: default
---
<div class="post">
  <div class="date">
    <span>{{ page.date | date: "%b" }}</span>
    {{ page.date | date: "%d" }}
  </div>
  <div class="title">
    <h2><a href="{{ page.url }}">{{ page.title | xml_escape }}</a></h2>
    <div class="postdata">
      <!-- Tag list -->
      {% assign  tagobject=page %}
      {% include object_tags.inc %}

      <span class="right mini-add-comment">
        <a href="{{ page.url }}#disqus_thread"
	   title="{{page.title | xml_escape}}">Comments</a>&nbsp;&#187;
      </span>
    </div>
  </div>
  <div class="clearing"><!-- close clearing --></div>
  <div class="entry">
    {{ content }}
  </div>

  <!-- Include navigation block for next/prev post -->
  {% include prevnextpost.inc %}

  <!-- Comments section -->
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = 'mrblog2';
    var disqus_identifier = '{{ page.url }}';
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//mrblog2' + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
