<!-- Template for post type posting -->
<div class="post">
  $partial("_includes/calendar.inc")$

  <div class="title">
    <h2><a href="$url$">$title$</a></h2>
    <div class="postdata">
      <!-- Tag list -->
      $partial("_includes/object_tags.inc")$
      
      <!-- Link to comments -->
      $partial("_includes/commentlink.inc")$

    </div>
  </div>
  <div class="clearing"><!-- close clearing --></div>
  <div class="entry">
    $body$
  </div>

  $partial("_includes/prevnextpost.inc")$
